In [22]:
%load_ext sql
%sql mysql://root:Camiel19@localhost/aetheriaproject
%sql USE aetheriaproject

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql://root:***@localhost/aetheriaproject
0 rows affected.

[]

In [ ]:
# Query 1: Frequent Guild Changes: Flag players who have joined and left more than 'n' guilds within a 7-day period.

In [18]:
# Query 2: Rare Item Ownership: List players who own the rarest items in the game, possibly indicating either advanced game expertise 
# or involvement in trading networks.

%sql SELECT PlayerID, Name, Rarity FROM Item_Ownership JOIN Item ON Item_Ownership.ItemID = Item.ID ORDER BY Rarity DESC

 * mysql://root:***@localhost/aetheriaproject
10 rows affected.

[(2, 'Axe of the Moon Chieftain', 935),
 (20, 'Axe of the Moon Chieftain', 935),
 (55, 'Axe of the Moon Chieftain', 935),
 (5, 'Ring of the Fallen King', 840),
 (3, 'Thunderstrike Axe', 739),
 (20, 'Ring of the Sages', 606),
 (5, 'Shadowflame Dagger', 413),
 (55, 'Armor of the Sea Spirit', 373),
 (2, 'Axe of the Moon Chieftain', 125),
 (5, 'Axe of the Moon Chieftain', 125)]

In [20]:
# Query 3: Economic Imbalance: Detect players who have a disproportionate amount of in-game currency compared to their activity or level, 
# which could be a sign of economy-unbalancing behavior.

%sql SELECT ID, Username, Experience_points, Gold FROM player WHERE (Gold / Experience_points) > 5;
# 5 is the ratio of gold to experience points

 * mysql://root:***@localhost/aetheriaproject
8 rows affected.

[(183, 'AzalorOakheart', 19, 982),
 (191, 'SarthonWolfsong', 48, 934),
 (194, 'TyrndarWildfire', 168, 927),
 (198, 'QeltharFrostbane', 89, 805),
 (204, 'AzalorDreadbane', 33, 974),
 (209, 'RunorinEarthstrider', 94, 826),
 (241, 'NaelorRagefang', 27, 171),
 (269, 'DelgathDawnstrike', 86, 518)]

In [21]:
# Query 4: Trade Partners: Identify frequent trade partnerships between players. Are the same players often involved in high-value trades 
# with each other?

%sql SELECT P1.Player1 AS Player1_ID, P2.Player2 AS Player2_ID, COUNT(*) AS TradeCount, AVG(Val.ReferenceValue) AS AverageTradeValue FROM TradeLog P1 JOIN TradeLog P2 ON P1.Player1 = P2.Player1 AND P1.Player2 = P2.Player2 JOIN Item Val ON P1.Item = Val.ID GROUP BY P1.Player1, P2.Player2 HAVING COUNT(*) >= 2 ORDER BY TradeCount DESC, AverageTradeValue DESC

 * mysql://root:***@localhost/aetheriaproject
2 rows affected.

[(3, 50, 4, Decimal('596.0000')), (3, 5, 4, Decimal('398.5000'))]

In [ ]:
# Query 5: Rapid Item Acquisition: Identify any player who has acquired items with a total value exceeding a certain threshold 
# (e.g., 1000 gold) in less than 24 hours.

In [27]:
# Query 6: Top Traded Items: Identify which items are most commonly traded or sold in-game, providing insight into what is considered 
# valuable by the community.

%sql SELECT Item, Name, Type, COUNT(Item) AS Amount_traded FROM tradelog JOIN item ON Item = item.ID GROUP BY Item, Name, Type HAVING Amount_traded > 2 ORDER BY Item

 * mysql://root:***@localhost/aetheriaproject
4 rows affected.

[(5, 'Thunderstrike Axe', 'Amulet', 3),
 (25, 'Dragon`s Breath Bow', 'Amulet', 3),
 (48, 'Greaves of the Vanguard', 'Sword', 3),
 (71, 'Demon`s Blood Elixir', 'Dagger', 4)]

In [28]:
# Query 7: High-Value Transactions: Find all transactions involving the trade or sale of high-value items and analyze the common 
# characteristics among them.

%sql SELECT Item, Name, Type, ReferenceValue FROM tradelog JOIN item on item.ID = Item WHERE ReferenceValue > 200 ORDER BY ReferenceValue

 * mysql://root:***@localhost/aetheriaproject
8 rows affected.

[(20, 'Champion`s Greatsword', 'Bow', 212),
 (48, 'Greaves of the Vanguard', 'Sword', 700),
 (48, 'Greaves of the Vanguard', 'Sword', 700),
 (48, 'Greaves of the Vanguard', 'Sword', 700),
 (43, 'Potion of Mana Regeneration', 'Bow', 960),
 (5, 'Thunderstrike Axe', 'Amulet', 996),
 (5, 'Thunderstrike Axe', 'Amulet', 996),
 (5, 'Thunderstrike Axe', 'Amulet', 996)]

In [29]:
# Query 8: Quest Rewards Analysis: Determine the average value of rewards from different events to see which ones are most economically 
# beneficial for players.

%sql SELECT Name, AVG(Reward) AS Average_reward FROM event GROUP BY Name, Name ORDER BY Average_reward DESC

 * mysql://root:***@localhost/aetheriaproject
57 rows affected.

[('Odyssey of the Stormcaller', None),
 ('Chaos in the Windy Crag', None),
 ('Riddle of the Ancient Sphinx', None),
 ('Dawn of the Void', None),
 ('War of the Crystal Lake', None),
 ('Carnival of the Forgotten', None),
 ('Plague of the Dark Sands', None),
 ('Valley of Forgotten Echoes', None),
 ('Crusade of the Sun Chalice', None),
 ('Escape from Shadow Hold', None),
 ('Vault of the Fallen Stars', None),
 ('Slaying of the Ice Queen', None),
 ('Siege of Thunderpeak', None),
 ('Haunting of the Crimson Keep', None),
 ('Raven`s Eclipse', None),
 ('Oracle`s Prophetic Challenge', None),
 ('Invasion of the Frost Giants', None),
 ('Trials of the Ghost King', None),
 ('The Gathering Storm', None),
 ('Festival of the Eternal Spring', None),
 ('Corruption of the Sacred Grove', None),
 ('Fall of the Shadow Titan', None),
 ('Feast of the Harvest Moon', None),
 ('Blood Moon Rising', None),
 ('Battle of the Whispering Woods', None),
 ('Cursed Souls` Nightfall', None),
 ('The Reckoning of Lighthaven', None),
 ('Festival of Golden Leaves', None),
 ('Timeless Enigma', None),
 ('The Golem`s Lament', None),
 ('Spectral Masquerade', None),
 ('The Fall of Skyspire', None),
 ('Dance of the Moonshadow', None),
 ('Darkness in Highfell', None),
 ('Assault on the Abyss', None),
 ('The Cataclysm of Ironspire', None),
 ('Titan`s Demise', None),
 ('Lost Horizon`s Discovery', None),
 ('The Celestial Convergence', None),
 ('Temple of the Wicked Oracle', None),
 ('Rage of the Warbeast', None),
 ('The Harvest of Souls', None),
 ('Warsong`s End', None),
 ('The Gatekeeper`s Fury', None),
 ('Curse of the Phantom Queen', None),
 ('The Scarlet Eclipse', None),
 ('Storm of the Dead', None),
 ('The Dragon`s Awakening', None),
 ('Chronicle of the Sealed Gods', None),
 ('Revolution of the Iron Fist', None),
 ('Fireheart`s Revenge', None),
 ('Darkness Over Whitestone', None),
 ('Quest for the Eternal Flame', None),
 ('Serpent`s Ascension', None),
 ('Quest for the Lost Relics', None),
 ('Wrath of the Earthmother', None),
 ('Challenge of the Seven Seals', None)]

In [31]:
# Query 9: Level Distribution: Examine the distribution of player levels to understand the balance between newcomers, mid-level, 
# and high-level players.

%sql SELECT SUM(Experience_points < 200) AS Newcomers, SUM(Experience_points >= 200 AND Experience_points < 600) AS Mid_level, SUM(Experience_points >= 600) AS High_level FROM Player

 * mysql://root:***@localhost/aetheriaproject
1 rows affected.

[(Decimal('16'), Decimal('59'), Decimal('59'))]

In [ ]:
# Query 10: Guild Affiliation: Examine the distribution of players in various guilds to find out which guilds are the most 
# popular or exclusive.