# Week 4: Advanced SQL Queries

Load the query below before initialising any of the other queries!

In [ ]:
%load_ext sql
%sql mysql://root:Camiel19@localhost/aetheriaproject
%sql USE aetheriaproject

Query 1: Player-to-Player Transactions: Investigate the types and frequencies of trades or transactions between players to uncover the most traded items or gold amounts.

In [ ]:
%%sql
SELECT 
    Item AS Item_ID,
    COUNT(Item) AS Trade_Frequency,
    ReferenceValue AS Price_Per_Item
FROM tradelog
JOIN item ON tradelog.Item = item.ID
GROUP BY Item
ORDER BY COUNT(Item) DESC

Query 2: Rare Item Ownership: List players who own the rarest items in the game, possibly indicating either advanced game expertise or involvement in trading networks.

In [ ]:
%%sql 
SELECT 
    PlayerID, 
    Name, 
    Rarity 
FROM Item_Ownership 
JOIN Item ON Item_Ownership.ItemID = Item.ID 
ORDER BY Rarity DESC

Query 3: Economic Imbalance: Detect players who have a disproportionate amount of in-game currency compared to their activity or level, which could be a sign of economy-unbalancing behavior.

In [ ]:
%%sql 
SELECT 
    ID, 
    Username, 
    Experience_points, 
    Gold 
FROM player 
WHERE (Gold / Experience_points) > 5
# 5 is the ratio of gold to experience points

Query 4: Trade Partners: Identify frequent trade partnerships between players. Are the same players often involved in high-value trades with each other?

In [ ]:
%%sql 
SELECT 
    P1.Player1 AS Player1_ID, 
    P2.Player2 AS Player2_ID, 
    COUNT(*) AS TradeCount, 
    AVG(Val.ReferenceValue) AS AverageTradeValue 
FROM TradeLog P1 
JOIN TradeLog P2 ON P1.Player1 = P2.Player1 AND P1.Player2 = P2.Player2 
JOIN Item Val ON P1.Item = Val.ID 
GROUP BY P1.Player1, P2.Player2 HAVING COUNT(*) >= 2 
ORDER BY TradeCount DESC, AverageTradeValue DESC

Query 5: Time of Play: Find out what times of day are the most popular for playing, which could help in scheduling in-game events or maintenance.

In [ ]:
%%sql
SELECT
    CASE
        WHEN HOUR(last_Login) >= 0 AND HOUR(last_Login) < 6 THEN 'Midnight'
        WHEN HOUR(last_Login) >= 6 AND HOUR(last_Login) < 12 THEN 'Morning'
        WHEN HOUR(last_Login) >= 12 AND HOUR(last_Login) < 18 THEN 'Afternoon'
        WHEN HOUR(last_Login) >= 18 AND HOUR(last_Login) <= 23 THEN 'Evening'
    END AS Time_Segment,
    COUNT(*) AS Player_Count
FROM
    Player
GROUP BY
    Time_Segment

Query 6: Top Traded Items: Identify which items are most commonly traded or sold in-game, providing insight into what is considered valuable by the community.

In [ ]:
%%sql 
SELECT 
    Item, 
    Name, 
    Type, 
    COUNT(Item) AS Amount_traded 
FROM tradelog 
JOIN item ON Item = item.ID 
GROUP BY Item, Name, Type 
HAVING Amount_traded > 2 
ORDER BY Item

Query 7: High-Value Transactions: Find all transactions involving the trade or sale of high-value items and analyze the common characteristics among them.

In [ ]:
%%sql 
SELECT 
    Item, 
    Name, 
    Type, 
    ReferenceValue 
FROM tradelog 
JOIN item on item.ID = Item 
WHERE ReferenceValue > 200 
ORDER BY ReferenceValue

Query 8: Quest Rewards Analysis: Determine the average value of rewards from different events to see which ones are most economically beneficial for players.

In [ ]:
%%sql 
SELECT 
    Name, 
    AVG(Reward) AS Average_reward 
FROM event 
GROUP BY Name, Name 
ORDER BY Average_reward DESC

Query 9: Level Distribution: Examine the distribution of player levels to understand the balance between newcomers, mid-level, and high-level players.

In [ ]:
%%sql 
SELECT 
    SUM(Experience_points < 200) AS Newcomers, 
    SUM(Experience_points >= 200 AND Experience_points < 600) AS Mid_level, 
    SUM(Experience_points >= 600) AS High_level 
FROM Player

Query 10: Guild Affiliation: Examine the distribution of players in various guilds to find out which guilds are the most popular or exclusive.

In [ ]:
%%sql 
SELECT 
    Guild AS Guild_ID, 
    Name AS Guild_name, 
    Type AS Guild_type, 
    COUNT(Guild) AS Members 
FROM player 
JOIN guild ON player.Guild = guild.ID 
GROUP BY Guild, Name, Type 
ORDER BY Members DESC

Query 11: Chat Metrics: Calculate the average number of messages per minute sent in each chat room between 8 PM and 9 PM.

In [ ]:
%%sql
SELECT GroupID,
       COUNT(*) / TIMESTAMPDIFF(MINUTE, MIN(Timestamp), MAX(Timestamp)) AS AvgMessagesPerMinute
FROM Group_message
WHERE TIME(Timestamp) BETWEEN '20:00:00' AND '20:59:59'
GROUP BY GroupID;

Query 12: Inflation Analysis: Track the average value of traded items over time to detect if the in-game economy is experiencing inflation or deflation.

In [ ]:
%%sql
SELECT
    DATE(Timestamp) AS Date,
    i.Name AS ItemName,
    AVG(td.Quantity * i.ReferenceValue) AS AverageItemValue
FROM TradeLog_Detail AS td
JOIN TradeLog AS tl ON td.TransactionID = tl.ID
JOIN Item AS i ON td.Offers = i.ID
GROUP BY Date, ItemName
ORDER BY Date, ItemName

Query 13: Merchant Analysis: Identify players who are predominantly involved in trading activities rather than quests or combat. This could be a player strategy, or an account meant for in-game trading.

In [ ]:
%%sql
SELECT 
    PlayerID, 
    Username, 
    TradeCount, 
    JournalCount
FROM (
    SELECT
        p.ID AS PlayerID,
        p.Username,
        (SELECT COUNT(DISTINCT tl.ID) 
            FROM TradeLog tl 
            WHERE p.ID = tl.Player1 OR p.ID = tl.Player2) 
            AS TradeCount,
        (SELECT COUNT(DISTINCT j.ID) 
            FROM Journal j 
            WHERE p.ID = j.PlayerID) AS JournalCount
    FROM Player AS p
) AS Subquery
WHERE TradeCount > JournalCount
ORDER BY TradeCount DESC

Query 14: Player-to-Player Transactions: Investigate the types and frequencies of trades or transactions between players to uncover the most traded items or gold amounts.

In [ ]:
%%sql
SELECT
    t.ID AS TradedItemID,
    i.Name AS TradedItemName,
    COUNT(t.ID) AS TradeFrequency,
    SUM(td.Quantity) AS TotalTradedQuantity
FROM TradeLog t
JOIN TradeLog_Detail td ON t.ID = td.TransactionID
JOIN Item i ON t.ID = i.ID
GROUP BY t.ID, i.Name
ORDER BY TradeFrequency DESC

Query 15: Social Connectivity: Query friendships, team-ups, or any other social interactions to see how socially connected your player base is.

In [ ]:
%%sql
SELECT
    p.Username AS Player_Name,
    t.Name AS Team_Name,
    g.Name AS Guild_Name,
    gm.GroupID AS Group_ID
FROM Player p
LEFT JOIN Team t ON p.Team = t.ID
LEFT JOIN Guild g ON p.Guild = g.ID
LEFT JOIN Group_membership gm ON p.ID = gm.PlayerID